* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: "EB Garamond", serif;
}

ul {
    list-style: none;
    padding: 0 !important;
}

a {
    text-decoration: none;
}

p {
    margin-bottom: 0 !important;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Cormorant", serif;
}